@use "../custom" as *;
@use "../components/mixins" as *;

.protfolio {
  padding: 4rem 0;
}

.protfolio-box {
  position: relative;
  width: 100%;
  max-height: 18.5rem;
  overflow: hidden;
  margin-bottom: 1.2rem;
  border-top: 0.5rem solid $purple-light;

  img {
    width: 100%;
   
  }

  .protfolio-info {
    background-color: rgba($primary, 0.75);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    @include transitionPropery;

    .caption {
      text-align: center;
      color: $white;

      @include absolutePositionCenter;

      h3 {
        text-transform: uppercase;
        display: block;
      }
    }
  }

  &:hover{
      img{
          transform: scale(1.3);
          @include transitionPropery;
      }

    .protfolio-info{
        opacity: 1;
        visibility: visible;
    }
     
  }
}
